@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Familjen+Grotesk:wght@400;600;700&family=Lato&family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Familjen Grotesk", sans-serif;
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

/*header/navbar */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 100px;
  padding: 0 30px;
}

/* logo */
.logo {
  width: 210px;
  height: auto;
}

.logo img {
  width: 100%;
  display: block;
  height: auto;
}

/* desktop menu */
.desktop-main-menu {
  margin-right: 50px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu ul li {
  position: relative;
  margin-right: 70px;
  /* margin-right: 20px; */
  padding-bottom: 2px;
}

/* menu item bottom part */
.desktop-main-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  /* transform-origin:right center ; */
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
  /* transform-origin:left center ; */
  transition-duration: 0.4s;
}

/* section */
section {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

.section-inner {
  position: absolute;
  bottom: 200px;
  left: 150px;
  max-width: 560px;
}
.section-inner h4 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 300;
}
.section-inner h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* BACKGROUND IMAGES*/
.section-a {
  background-image: url("../image/88965-rolls-royce-wraith-rolls-royce-cars-4k-hd-behance-dark.jpg");
}

.section-c {
  background-image: url("../image/ACN\ car3.jpg");
}

.aboutUs {
  background-image: url("");
  background-size: cover;
  height: 100vh;
}
.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;
  border-radius: 20px;
}

.btn:hover span {
  color: #000;
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .hover {
  transform: translateX(0);
}

/* section about us */
.aboutText {
  padding-top: 50px;
  padding-left: 43%;
  font-size: 40px;
  /* text-decoration: underline; */
}

.underline {
  width: 230px;
  height: 5px;
  background-color: #fff;
  margin: 10px auto 30px;
}
.bottomDiv {
  padding-top: 35px;
  display: flex;
  padding-bottom: 50px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.card1 {
  width: 250px;
  margin-left: 30px;
}

.pic1 {
  margin-left: 90px;
  height: 55px;
  width: 55px;
  padding-bottom: 5px;
}

.title {
  /* margin: 0px 0 0 58px; */
  font-size: 23px;
  padding-bottom: 10px;
  text-align: center;
}

.description {
  font-size: 13px;
  text-align: justify;
}

.ac-card-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}

.ac-about {
  text-align: center;
}
.ac-card {
  width: calc(33.33% - 20px);
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000;
}
.ac-card h2 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
}
.ac-card p {
  margin-bottom: 0;
  font-size: 16px;
  color: #666;
}
/* footer */
footer {
  position: relative;
  padding: 55px 0;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  margin-right: 30px;
  color: #aaa;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2.5;
}
footer ul li a {
  color: #fff;
  transition: color 0.6s;
}

footer ul li a:hover {
  color: #aaa;
}

.carousel-section {
  color: white;
  display: flex;
  /* height: 70vh; */
}

/* Left and right divs styles */
.left,
.right {
  flex: 1;
  padding: 50px;
}

.left {
  background: linear-gradient(to right, #000000, #000000);
  padding-top: 100px;
  font-size: 13px;
  width: 50%;
}

.left-text {
  font-size: 40px;
}

.right {
  padding-left: 200px;
}

/* Carousel styles */
.carousel-container {
  position: relative;
  overflow: hidden;
  width: 450px !important;
  border-radius: 15px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  height: 300px;
  background-size: cover;
  display: none;
}
#slide1 {
  background-image: url(../image/luxurious-car-parked-highway-with-illuminated-headlight-sunset_181624-60607.avif);
}
#slide2 {
  background-image: url(../image/luxurious-precision-an-aesthetic-4k-view-of-a-sleek-car-4ncptuzz1zsch2bi.jpg);
}
#slide3 {
  background-image: url(../image/ACN\ car3.jpg);
}
#slide4 {
  background-image: url(../image/hier-zeigt-die-grosse.jpg);
}

.slide:first-child {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(172, 162, 162, 0.5);
  color: rgb(252, 247, 247);
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.icons {
  padding: 30px;
}

.icon {
  width: 40px;
  height: 30px;
  padding-left: 10px;
}

/* review section */
.review-section {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

.review-carousel-container {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(0);
}

.review-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  margin: 10px;
  color: #000;
}

.review-arrow {
  background-color: yellow;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.review-arrow-left {
  left: 0;
}

.review-arrow-right {
  right: 0;
}

/* contact us */
.contactUs {
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.contact-form {
  width: 35%;
}
.contact-form form {
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 5px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: black;
  border-color: white;
}
.contact-form input[type="text"]::placeholder,
.contact-form input[type="email"]::placeholder,
.contact-form textarea::placeholder {
  background-color: black;
}
.contact-form input[type="submit"] {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
.contact-info {
  width: 45%;
  background-image: url("../image/luxurious-precision-an-aesthetic-4k-view-of-a-sleek-car-4ncptuzz1zsch2bi.jpg");
  padding: 50px;
}
.contact-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.contact-info p {
  margin-bottom: 20px;
}
.contact-info .icon {
  float: left;
  margin-right: 10px;
}

.contactInfo-img {
  padding-bottom: 10px;
}

.contact-heading {
  font-size: 30px;
}

.contactText {
  font-size: 15px;
}
